#map {
    width: 100%;
    height: 300px;
    border-radius: 10px;
}

/* #map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
} */

/* Display setting for long(lg) and above screen size */
@media(min-width: 768px) {
    .news-input {
        width: 50%;
    }

}